.panel-default .panel-heading {
    background-color: var(--some-dark);
    border-radius: 8px 8px 0 0;
    border-bottom: var(--purple) 2px solid;
}

.panel-default .panel-heading h3 {
    color: white;
}

.panel-body {
    background-color: var(--some-dark);
}

.panel-default {    
    background-color: var(--some-dark);
    border-radius: 8px;
    border: none;
}