@import "cube.css";
@import "profile.css";


* { 
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

body, html { 
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

.container {
  margin-top: 5rem;
}

p {
  background-color: black;
  color: white;
  margin-bottom: 2rem;
}

.btn {
  color: black;
  outline: none;
  border: none;
  border-radius: 0;
}

.button-active {
  background-color: black;
  color: white;
}

.content {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto;
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: white; 
}