:root {
    /* --dark: #0b1930; */
    --dark: black;
    /* --some-dark: #192946; */
    --some-dark: #202020;
    --white: #fff;
    --purple: #854ff6;
    --blue: #4905c7;
    --light: #5a99fd;

}
