<div class="content row">
    <div class="toggleContainer experience"></div>
    <div id="experienceNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">
        <a class="btn btn-primary" href="./assets/anker-peet-resume.pdf" download>Download my resume</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Software Engineer | <small><a target="_blank" href="https://www.healthwise.org/">Healthwise</a> - Boise, Idaho</small> | <small>June 2019 - Present</small></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Development stack included C#, .NET, SQL, JavaScript, jQuery, React, HTML, and CSS .</li>
                    <li>Developed applications that help healthcare organizations provide patients with healthcare information.</li>
                    <li>Fixed bugs and implemented enhancement requests.</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">            
            <div class="panel-heading">            
                <h3>Software Engineer | <small><a href="https://agentcubed.com/">AgentCubed</a> - Boise, Idaho</small> | <small>December 2017 - June 2019</small></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Development stack included C#, .NET, SQL, JavaScript, Angular, HTML, and CSS.</li>
                    <li>Developed a CRM platform and call center software for the insurance industry.</li>
                    <li>Implemented several 3rd party integrations.</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Web Developer | <small>Peak Environmental - Meridian, Idaho</small> | <small>October 2016 - March 2017</small></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Development stack included PHP, WordPress, JavaScript, HTML, and CSS.</li>
                    <li>Managed and maintained several websites used mainly as landing pages.</li>
                    <li>Built 1 of the websites from the ground up.</li>
                </ul>
            </div>
        </div>

    </div>
</div>