<div class="row">
    <div class="toggleContainer portfolio"></div>
    <div id="portfolioNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">
        <h2>Search Page</h2>
        <p
            class="codepen"
            data-height="500"
            data-theme-id="dark"
            data-default-tab="result"
            data-user="ankerpeet"
            data-slug-hash="YzyzjpV"
            style="
                height: 500px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid;
                margin: 1em 0;
                padding: 1em;
            "
            data-pen-title="Be a Hero - CodePen Challenge"
        >
            <span
                >See the Pen <a href="https://codepen.io/ankerpeet/pen/YzyzjpV"> Be a Hero - CodePen Challenge</a> by
                Anker Peet (<a href="https://codepen.io/ankerpeet">@ankerpeet</a>) on
                <a href="https://codepen.io">CodePen</a>.</span
            >
        </p>
        <h2>Game of Life</h2>
        <p
            class="codepen"
            data-height="500"
            data-theme-id="dark"
            data-default-tab="result"
            data-user="ankerpeet"
            data-slug-hash="rNVpXxx"
            style="
                height: 500;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid;
                margin: 1em 0;
                padding: 1em;
            "
            data-pen-title="Game of Life - CodePen Challenge"
        >
            <span
                >See the Pen <a href="https://codepen.io/ankerpeet/pen/rNVpXxx"> Game of Life - CodePen Challenge</a> by
                Anker Peet (<a href="https://codepen.io/ankerpeet">@ankerpeet</a>) on
                <a href="https://codepen.io">CodePen</a>.</span
            >
        </p>
    </div>
</div>
