<div class="toggleContainer apps"></div>
<div class="content row">
    <div id="appsNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">      
        <div class="card">
            <div class="row">
                <div class="col-xs-3"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.techbox32.simplemoney"><img class="img-responsive" src="./assets/app-logos/simple-money.png" alt=""></a></div>
                <div class="col-xs-9">
                    <h3>Simple Money</h3>
                    <p>Easily track expenses, and income. Help stay on budget with this free easy to use money management app.</p>
                </div>
            </div>
        </div>
    </div>
</div>