<div class="content row">
    <div class="toggleContainer experience"></div>
    <div id="experienceNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">
        <h1>Experience</h1>      
        <h3>Software Engineer <small>Healthwise - Boise, Idaho</small></h3>
        <div>Healthwise June 2019 - Present, Boise, Idaho</div>
        <ul>
            <li>Development stack included C#, .NET, SQL, JavaScript, jQuery, React, HTML, and CSS .</li>
            <li>Developed applications that help healthcare organizations provide patients with healthcare information.</li>
            <li>Fixed bugs and implemented enhancement requests.</li>
        </ul>
        <h3> Software Engineer</h3>
        <div>AgentCubed December 2017 - June 2019, Boise, Idaho</div>
        <ul>
            <li>Development stack included C#, .NET, SQL, JavaScript, Angular, HTML, and CSS.</li>
            <li>Developed a CRM platform and call center software for the insurance industry.</li>
            <li>Implemented several 3rd party integrations.</li>
        </ul>
        <h3>Web Developer</h3>
        <div>Peak Environmental October 2016 - March 2017, Meridian, Idaho</div>
        <ul>
            <li>Development stack included PHP, WordPress, JavaScript, HTML, and CSS.</li>
            <li>Managed and maintained several websites used mainly as landing pages.</li>
            <li>Built 1 of the websites from the ground up.</li>
        </ul>
    </div>
</div>