<div class="toggleContainer home"></div>
<div class="content row">
    <div id="homeNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">
        <div class="row">
        <div class="col-md-6 col-sm-12 image-container">
            <div class="profile-pic-container"><img class="profile-pic" src="./assets/anker.png" alt=""></div>
            <div class="profile-name">
            <h3>
                Software Engineer and Web Developer
                <br>
                <small class="text-muted">Over <span id="yearsExperience">1</span> years of experience</small>
            </h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 about-me">
            <h1><span class="underline">Hi,</span> <span class="underline">I'm</span> <span class="underline">Anker</span></h1>
            <p>I currently work as a Software Engineer at Healthwise, a non-profit company located in Boise, Idaho. I get to work on apps that help keep people informed about their health.</p>
            <p>My adventure in software development began when I started studying web development at Brigham Young University-Idaho in 2015. In 2016 I got my first job as a web developer for a small company in Meridian, Idaho working mainly on front end development with HTML, CSS, and JavaScript.</p>
            <p>In October of 2017 I graduated from Boise CodeWorks and in December of the same year I started working as a software developer at AgentCubed in Boise, Idaho working on a CRM platform mainly with C#, SQL and JavaScript.</p>
            <p>In my spare time I work on side projects to learn new skills. Most of my side projects I build using Vue.js for the frontend, and Node.js with Express and MongoDB for the backend.</p>
        </div>
        </div>
    </div>
    <script>
        function home() {
            var years = 0;

            var currentDate = new Date(Date.now());
            var currentMonth = currentDate.getMonth();
            var currentYear = currentDate.getFullYear();

            if(currentMonth >= 9) years = currentYear - 2016;
            else years = currentYear - 2017;

            $("#yearsExperience").text(years);
        }
        home();
    </script>
</div>