<div class="row">
    <div id="homeNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">
        <div class="row">
        <div class="col-md-6 col-sm-12 image-container">
            <div class="profile-pic-container"><img class="profile-pic" src="./assets/anker.png" alt=""></div>
            <div class="profile-name">
            <h3>
                Software Engineer and Web Developer
                <br>
                <small class="text-muted">Over <span id="yearsExperience">{{years}}</span> years of experience</small>
            </h3>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 about-me">
            <h1><span class="underline">Hi,</span> <span class="underline">I'm</span> <span class="underline">Anker</span></h1>
            <p>I have spent most my career working as a full stack C# developer, but my true passion has always been in front-end development and working with Javascript.</p>
            <p>I currently work as a Software Engineer for a company called Genesys. I get to work mostly on the front-end using Angular.</p>
            <p>In my spare time I like to write and record my own music from my home studio. Music has always been my biggest hobby and one of the things I'm most passionate about.</p>
        </div>
        </div>
    </div>
</div>
