<div class="row">
    <div class="toggleContainer education"></div>
    <div id="educationNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">      
        <a class="btn btn-primary" href="./assets/anker-peet-resume.pdf" download>Download my resume</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Web Design & Development | <small><a target="_blank" href="https://www.byui.edu/">BYU-Idaho</a> - Rexburg, Idaho</small> | <small>2014 - 2019</small></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Completed 36 credits towards a degree in Web Design & Development through BYU-Idaho's online program.</li>
                    <li>Took courses on SQL, Java, PHP, JavaScript, HTML and CSS.</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">            
            <div class="panel-heading">            
                <h3>Full Stack Software Development | <small><a href="https://boisecodeworks.com/">Boise CodeWorks</a> - Boise, Idaho</small> | <small>2017</small></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Studied software development 40 hours a week for 12 weeks.</li>
                    <li>Built multiple applications from scratch using JavaScript, Vue.js, Node.js, MongoDB, C#, .NET Core, and Entity Framework.</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Full Stack Web Development Certification | <small><a href="https://www.freecodecamp.org/">freeCodeCamp</a> - Online</small> | <small>2017 - Present</small></h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Completed the <a href="https://www.freecodecamp.org/certification/ankerpeet/responsive-web-design">Responsive Web Design Certificate</a>.</li>
                    <li>Currently working towards the Javascript Algorithms And Data Structures Certification.</li>
                </ul>
            </div>
        </div>
    </div>
</div>