
<div class="row">
    <div id="appsNav" class="nav col-xs-2"></div>
    <div class="container col-xs-10">      
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-3"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.techbox32.simplemoney"><img class="img-responsive" src="./assets/app-logos/simple-money.png" alt="SimpleMoney Logo"></a></div>
                <div class="col-xs-9">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.techbox32.simplemoney"><h3>Simple Money</h3></a>
                    <p>Easily track expenses, and income. Help stay on budget with this free easy to use money management Android app.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-3"><a target="_blank" href="https://www.getsurveysoft.com/"><img class="img-responsive" src="./assets/app-logos/survey-soft-logo.png" alt="SurveySoft Logo"></a></div>
                <div class="col-xs-9">
                    <a target="_blank" href="https://www.getsurveysoft.com/"><h3>SuverySoft</h3></a>
                    <p>A web app designed for survey creation. Helps businesses and entrepreneurs collect data and grow their company.</p>
                </div>
            </div>
        </div>
    </div>
</div>